*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
background: #000000;
background-size: 100%;
display: grid;
place-items: center;
}

.clockDisplay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.05em;
    font-size: 80px;
    padding: 5px 0;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    animation: animate 3s linear infinite;
    background-size: 80%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, .1);
    text-shadow: 0 0 20px rgb(249, 251, 252),  0 0 20px rgba(10, 175, 230, 0);
}

@keyframes animate {
  0% {
    background-position: -400%;
  }
  100% {
    background-position: 400%;
  }
}